.OfferCard {
  border: 1px solid $gray-6;
  border-radius: $borderRadius--regular;
  margin: 0 12px;
  padding: 12px 16px;
  cursor: pointer;
  @include box(200px, 240px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.3s;
  &:hover {
    box-shadow: $box-shadow--card;
  }

  header {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    flex-shrink: 0;
    & > h1 {
      @include text-body--small--medium;
    }
  }
  main {
    @include text-footNote;
    color: $gray-4;
    margin-bottom: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    & > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
  }
}
.OfferLogo {
  @include circle(24px);
  margin-right: 15px;
}
.OfferCard-Provider {
  @include text-footNote;
  color: $gray-4;
}
.OfferCard-description {
  color: $gray-3;
  margin-bottom: auto;
  line-height: 1.4;
}
.OfferCard-payMethod {
  display: flex;

  label {
    @include text-footNote;
    color: $gray-4;
  }
}

.OfferCard-coinSelect {
  display: none;
}
.OfferCard-payBtn {
  @include primaryButtons(619x, 12px);
  span {
    @include text-footNote;
    color: inherit;
    margin-left: 2px;
    cursor: pointer;
  }
}
