//Styles for the header
.Header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid $gray--notInKit-1;
  width: 100%;
  padding: 24px 47px;
}

//Styles for login box in the header
.LoginBox {
  display: flex;
  align-items: center;
  border: 1px solid $green;
  border-radius: $borderRadius--regular;
  padding: 0 46px 0 23px;
  max-width: 255px;
  overflow: hidden;

  &.Green {
    background-color: $green;
    .UserName {
      color: #fff;
    }
  }
}
.Avatar {
  @include circle(24px);
  @include backgroundImage;
}
.UserName {
  line-height: 2.4rem;
  margin-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 140px;

  @include text-body--large--medium;
  color: $green;
}
//Styles for usermenu in the header
.UserMenu {
  margin-left: 12px;
}
.UserMenu-button {
  border-radius: $borderRadius--regular;
  background: $light-BG;
  border: 1px solid $gray--notInKit-1;
  position: relative;
  @include box(54px, 40px);
  cursor: pointer;

  &::after {
    background-image: url("/icons/png/userMenuBtn.png");
    @include pseudo;
    @include backgroundImage(center, 20px);
    @include square(100%);
  }
}
