//Styles for the header
.Header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid $gray--notInKit-1;
  width: 100%;
  padding: 24px 47px;
}

//Styles for login box in the header
.LoginBox {
  display: flex;
  align-items: center;
  border: 1px solid $purple;
  border-radius: $borderRadius--regular;
  padding: 0 23px;
  max-width: 355px;
  overflow: visible;
  cursor: pointer;
  position: relative;

  &.Green {
    background-color: $purple;
    .UserName {
      color: #fff;
    }
    img {
      display: none;
    }
  }

  .UserMenu-menu {
  }
}
.Avatar {
  @include circle(24px);
  @include backgroundImage;
}
.UserName {
  line-height: 2.4rem;
  margin: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 0;
  white-space: nowrap;
  @include text-body--large--medium;
  color: $purple;
}
.Separator {
  line-height: 2.4rem;
  margin: 0 10px;
  flex-shrink: 0;
  @include text-body--large--medium;
  color: $purple;
}
.UserWallet {
  line-height: 2.4rem;
  margin: 0 10px;
  flex-shrink: 0;
  white-space: nowrap;
  @include text-body--large--medium;
  color: $purple;
}
//Styles for usermenu in the header
.UserMenu {
  margin-left: 12px;
  position: relative;
}
.UserMenu-button {
  border-radius: $borderRadius--regular;
  background: $gray-6;
  border: 1px solid $gray--notInKit-1;
  position: relative;
  @include box(54px, 40px);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &::after {
    background-image: url("/icons/png/userMenuBtn.svg");
    @include pseudo;
    @include backgroundImage(center, 20px);
    @include square(100%);
  }

  &:hover {
    background-color: $purple;
  }
}

.UserMenu-menu {
  display: block;
  background-color: $white;
  box-shadow: $box-shadow--card;
  border-radius: $borderRadius--regular;
  padding: 0 14px 16px;
  position: absolute;
  right: 0;
  top: 53px;
  width: 214px;

  &::after {
    @include pseudo();
    @include box(214px, 20px);
    position: absolute;
    top: -20px;
    right: 0;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 0;

    li {
      padding: 9px 0;
      @include text-body--small--light;
      color: $gray-4;
      border-bottom: $border-main;

      a,
      p {
        display: flex;
        align-items: center;
        transition: color 0.2s ease-in-out;
        span {
          margin: 5px 0 0 5px;
          font-size: 0.8rem;
        }
      }
      embed {
        @include square(25px);
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
        margin-right: 20px;
      }

      &:hover {
        embed {
          opacity: 1;
        }
        a,
        p {
          color: $gray-3;
        }
      }
    }
  }

  &.hidden {
    display: none;
  }
}
