.SideBar {
  width: 240px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: $primary;
  height: 100vh;
  align-items: center;
}
.SideBarNav {
  @include text-body--small--regular;
  color: $gray-4;
  line-height: 2.8rem;
  list-style: none;
  margin: 150px auto auto;
  width: 90%;

  li {
    display: flex;
    flex-direction: row;
    margin: 19px 0;
    cursor: pointer;
    align-items: center;
    transition: color 0.2s ease-in-out;
    a {
      display: flex;
      align-items: center;
    }
    p {
      margin-left: 10px;
    }
    embed {
      @include box(20px, 20px);
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
    }
  }
  .select {
    color: white;
    embed {
      opacity: 1;
    }
  }
  li:hover {
    color: white;
    embed {
      opacity: 1;
    }
  }
}
.SideBar-logo {
  margin: auto auto 61px;
}
