.MainLoginPage {
  width: 441px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  h1 {
    @include text--heading3;
    margin-bottom: 40px;

  }

  & > div {
    display: flex;
    flex-direction: column;
  }

  button {
    outline: none;
    border: $border-main;
    border-radius: $borderRadius--regular;
    background-color: transparent;
    padding: 10px 60px;
    margin-bottom: 10px;
    @include text-body--small--regular;
    color: #8a8f99;
    -webkit-transition: background,color 2s ease-in-out ;
    -moz-transition: background,color 2s ease-in-out;
    transition: background,color 2s ease-in-out;
    &:hover{
      background: linear-gradient(180deg, #C528FC 0%, #D71EAE 100%);
      border-radius: 12px;
      color: white;
    }

  }

  .Divider{
    border: 1px solid #E6E7EB;
    width: 120%;
   margin: 35px auto;
    transform: translateX(-8%);
  }

}

.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
}
