.ProviderSignUp {
  padding-top: 73px;
  & > h1 {
    @include text--heading2;
    margin-bottom: 51px;
    margin-top: 60px;
  }
}
.PlansForm-addBtn {
  @include text-body--standard--regular;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 66px;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $gray-3;
    &::before {
      opacity: 0.6;
    }
  }

  &::before {
    @include pseudo;
    @include square(42px);
    @include backgroundImage;
    background-image: url("/icons/png/uploadBtn.svg");
    position: static;
    margin-right: 24px;
    transition: opacity 0.2s ease-in-out;
  }
}
.ProviderRegisteration {
  border-top: $border-main;
  padding-top: 32px;
  margin-bottom: 446px;
  display: flex;
  align-items: center;
  p {
    @include text-body--lightSmall--regular;
    color: $gray-4;
    margin-right: 48px;
  }
  .RegisterBtn {
    @include primaryButtons(260px, 40px);
    border-radius: $borderRadius--small;
    @include text-body--standard--regular;
    color: #fff;
    cursor: pointer;
  }
}
