@mixin pushAuto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin font($size, $weight, $color: $primary, $height: 1.4) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $height;
}

@mixin flexBox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin backgroundImage($position: center, $size: contain) {
  background-position: $position;
  background-size: $size;
}

@mixin absoluteCenter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

@mixin box($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($width) {
  @include box($width, $width);
}

@mixin circle($radius) {
  @include square($radius);
  border-radius: 50%;
}
