//----colors

//grays
$gray-50: #f8f8f8;
$gray-100: #eeeeee;
$gray-200: #e0e0e0;
$gray-300: #bdbdbd;
$gray-400: #9e9e9e;
$gray-500: #757575;
$gary-600: #616161;
$gray-700: #424242;
$gray-800: #2d2d2d;
$gray-900: #212121;
