//----colors

//grays
$gray-50: #f8f8f8;
$gray-100: #eeeeee;
$gray-200: #e0e0e0;
$gray-300: #bdbdbd;
$gray-400: #9e9e9e;
$gray-500: #757575;
$gary-600: #616161;
$gray-700: #424242;
$gray-800: #2d2d2d;
$gray-900: #212121;

//not in kit
$gray--notInKit-1: #e6e7eb;

//Main colors
$primary: #0d0d2b;

//Other colors
$green: #6fcf97;

//Font-size
$fontSize-root: 10px;

$fontSize-heading1: 6.4rem;
$fontSize-heading2: 4rem;
$fontSize-heading3: 3.2rem;

$fontSize-title--large: 3.2rem;
$fontSize-title--small: 1.6rem;

$fontSize-body--large: 2rem;
$fontSize-body--standard: 1.8rem;
$fontSize-body--small: 1.6rem;

//font weight
$fontWeight-black: 900;
$fontWeight-bold: bold;
$fontWeight-medium: 500;
$fontWeight-regular: normal;
$fontWeight-light: 300;

//Background
$light-BG: linear-gradient(180deg, #f8f9fb 0%, #fafbff 100%);
