.ProviderInfo,
.NewPlanCreation {
  // margin-bottom: 66px;
  & > h1 {
    @include text-body--large--medium;
    margin-bottom: 16px;
    position: relative;
    width: fit-content;
    cursor: pointer;

    span {
      @include pseudo;
      @include square(20px);
      background-image: url("/icons/png/downArrow.png");
      background-position: center;
      right: -40px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &.hidden {
    & > h1 > span {
      transform: scaleY(-1);
    }
    .PlanForm {
      max-height: 0;
      overflow: hidden;
    }
  }
}

.RemovePlanBtn {
  border: 1px solid $gray-4;
  display: block;
  @include circle(20px);
  position: absolute;
  left: -40px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: $white;
  @include cross(10px);
}
.ProviderForm,
.PlanForm {
  padding-top: 16px;
  border-top: 1px solid #e6e7eb;
  display: flex;
  label,
  input,
  select {
    display: block;
    width: 100%;
  }
  label {
    @include text-body--small--regular;
    margin-bottom: 6px;
  }
  input,
  select {
    @extend %MainTextInput;
    margin-bottom: 6px;
  }
  p {
    @include text-body--lightSmall--light;
    color: $gray-4;
    margin-bottom: 32px;
  }
}
.ProviderForm-info,
.PlanForm-info {
  max-width: 462px;
  margin-right: 48px;
  flex-shrink: 0;
  flex-grow: 1;
}
.ProviderForm-photoUpload,
.PlanForm-financial {
  max-width: 258px;
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;

  p {
    text-align: left;
  }
}
.PhotoUploadBtn {
  border: 1px dashed $gray-4;
  @include circle(128px);
  display: inline-block;
  background-color: transparent;
  background-image: url("/icons/png/uploadBtn.png");
  @include backgroundImage;
  background-size: auto;
  margin: 24px 0;
}

.PlanForm-financial {
  text-align: left;
  & > label {
    margin-bottom: 9px;
  }
}
.PlanForm-payCheckbox {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  input {
    width: fit-content;
    margin-right: 16px;
  }
  img {
    margin-right: 16px;
    @include circle(48px);
  }
}
