.ProviderInfo,
.NewPlanCreation {
  margin-bottom: 66px;
  & > h1 {
    @include text-body--large--medium;
    margin-bottom: 16px;
  }
}
.ProviderForm,
.PlanForm {
  padding-top: 16px;
  border-top: 1px solid #e6e7eb;
  display: flex;
  label,
  input,
  select {
    display: block;
    width: 100%;
  }
  label {
    @include text-body--small--regular;
    margin-bottom: 6px;
  }
  input,
  select {
    @extend %MainTextInput;
    margin-bottom: 6px;
  }
  p {
    @include text-body--lightSmall--light;
    color: $gray-4;
    margin-bottom: 32px;
  }
}
.ProviderForm-info,
.PlanForm-info {
  max-width: 462px;
  margin-right: 48px;
  flex-shrink: 0;
  flex-grow: 1;
}
.ProviderForm-photoUpload,
.PlanForm-financial {
  max-width: 258px;
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;

  p {
    text-align: left;
  }
}
.PhotoUploadBtn {
  border: 1px dashed $gray-4;
  @include circle(128px);
  display: inline-block;
  background-color: transparent;
  background-image: url("/icons/png/uploadBtn.png");
  @include backgroundImage;
  background-size: auto;
  margin: 24px 0;
}

.PlanForm-financial {
  text-align: left;
  & > label {
    margin-bottom: 9px;
  }
}
.PlanForm-payCheckbox {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  input {
    width: fit-content;
    margin-right: 16px;
  }
  img {
    margin-right: 16px;
    @include circle(48px);
  }
}
.PlansForm-addBtn {
  @include text-body--standard--regular;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  margin-top: 6px;

  &::before {
    @include pseudo;
    @include square(42px);
    @include backgroundImage;
    background-image: url("/icons/png/uploadBtn.png");
    position: static;
    margin-right: 24px;
  }
}
