.ProviderAllUsers {
  position: relative;
  & > h1 {
    @include text-body--large--medium;
    margin-bottom: 31px;
  }
  table {
    @include text-body--lightSmall--light;
    color: $gray-3;
    text-align: left;
    width: 100%;
    thead {
      tr {
        th {
          font-weight: $fontWeight-regular;
          border-bottom: $border-main;
          padding: 5px 10px;
          &:first-child {
            @include text-body--small--regular;
            color: $primary;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 24px 10px 24px;
          border-bottom: $border-main;
          img {
            @include square(20px);
            display: inline-block;
            vertical-align: middle;
          }
          .userCharacteristics {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4 {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
