.TotalIncome {
  margin-bottom: 56px;
  & > h1 {
    @include text-body--large--medium;
    margin-bottom: 19px;
  }

  & > div {
    border: $border-main;
    border-radius: $borderRadius--regular;
    padding: 17px 25px 61px;
  }
}

.TotalIncome-incomePart {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.TotalIncome-income {
  @include text--heading1;
  flex-grow: 1;
}
.TotalIncome-announce {
  @include text-body--lightSmall--light;
  color: $gray-3;
  text-align: right;
  flex-grow: 1;
}
.TotalIncome-eachCoin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.IncomeByCoin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include box(165px, 61px);
  img {
    @include circle(48px);
    margin-bottom: 13px;
  }
}
.IncomeByCoin-coinName {
  @include text-body--lightSmall--light;
  color: $gray-4;
}
.IncomeByCoin-coinAmmount {
  @include text--heading3;
  color: $gray-3;
}
