.TutorialBox {
  position: absolute;
  top: 200px;
  left: 400px;
  @include circle(310px);
  border: 1px dashed #414141;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  z-index: 100;
  transition: all 0.25s ease-in-out;
  padding: 30px;

  img {
    @include circle(43px);
    object-fit: cover;
    border: $border-main;
  }

  h2 {
    @include text-body--large--medium;
    margin: 10px 0;
  }
  p {
    @include text-body--small--regular;
    margin: 0 0 10px;
  }

  .BtnContainer {
    display: flex;
    justify-content: center;
    width: 150px;
  }
  button {
    @include primaryButtons(60px, 20px);
    height: 25px;
    border-radius: $borderRadius--small;
    margin: 0 5px;
    &.TutorialSkipBtn {
      @include secondaryButtons(60px, 20px);
      margin-top: 5px;
      width: 120px;
    }
  }

  &::after {
    @include pseudo;
    background-color: #5867ff;
    position: absolute;
  }

  &.middleleft {
    &::after {
      right: -99px;
      width: 100px;
      height: 2px;
    }
  }
  &.middleright {
    &::after {
      left: -99px;
      width: 100px;
      height: 2px;
    }
  }
  &.topmiddle {
    &::after {
      bottom: -99px;
      height: 100px;
      width: 2px;
    }
  }
  &.bottommiddle {
    &::after {
      top: -99px;
      height: 100px;
      width: 2px;
    }
  }
}

$offset: -5px;
.Dominent {
  position: relative;
  pointer-events: none;
  &::after {
    @include pseudo;
    right: $offset;
    top: $offset;
    left: $offset;
    bottom: $offset;
    border: 2px solid #5867ff;
    transition: all 0.5s ease-in-out;
  }
  z-index: 250 !important;
}

.TutorialFilter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.329);
  backdrop-filter: blur(5px) drop-shadow(4px 9px 10px rgba(255, 255, 255, 0.329));
}
