.TutorialBox {
  position: fixed;
  top: 200px;
  left: 400px;
  width: 309px;
  height: 309px;
  border-radius: 50%;
  border: 1px dashed #414141;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  z-index: 100;
}

$offset: -5px;
.Dominent {
  position: relative;
  &::after {
    @include pseudo;
    right: $offset;
    top: $offset;
    left: $offset;
    bottom: $offset;
    border: 1px solid #5867ff;
  }
}

.TutorialFilter {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  background-color: #000;
  opacity: 0.2;
  backdrop-filter: blur(20px);
}
